<ion-app>
  <ion-split-pane contentId="main" when="md">
    <ion-menu side="start" menuId="first" contentId="main">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Start Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle>
            <ion-item [routerLink]="['restaurante']"><ion-icon slot="start" name="business-sharp"></ion-icon>Restaurante</ion-item>
            <ion-item  [routerLink]="['consultarestaurante']"><ion-icon slot="start" name="business-sharp"></ion-icon>Consultar Restaurante</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
    
  </ion-split-pane>
</ion-app>
